@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

body {
  background-color: #3498db;
}

h2.title {
  display: block;
  width: 236px;
  margin: 0 auto;
  font-size: 2.5em;
  font-family: 'Alfa Slab One', Helvetica, Sans-Serif;
  text-align: center;
  color: #272722;
}

#container {
  display: block;
  width: 248px;
  margin: 0 auto;
  -webkit-transform-origin: 50% 10%;
  -moz-transform-origin: 50% 10%;
  -ms-transform-origin: 50% 10%;
  -o-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  -webkit-transform: perspective(1000px) rotateX(45deg);
  -moz-transform: perspective(1000px) rotateX(45deg);
  -ms-transform: perspective(1000px) rotateX(45deg);
  -o-transform: perspective(1000px) rotateX(45deg);
  transform: perspective(1000px) rotateX(45deg);
}

#outer-border {
  display: inline-block;
  padding: 8px;
  margin: 0 auto;
  background-color: #f39c12;
  border-radius: 15px;
  border-bottom: 3px solid #d35400;
  background: -moz-linear-gradient(top, #f1c40f 0%, #e67e22 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1c40f), color-stop(100%,#e67e22)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1c40f 0%,#e67e22 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1c40f 0%,#e67e22 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1c40f 0%,#e67e22 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f1c40f 0%,#e67e22 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#e67e22',GradientType=0 ); /* IE6-9 */
}

#inner-border {
  display: block;
  padding: 5px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 11px;
  border-top: 2px solid #e67e22;
  border-left: 1px solid #e67e22;
  border-right: 1px solid #e67e22;
}

#tetrisBoard {
  display: block;
  width: 220px;
  margin: 0 auto;
}

#controls {
  display: block;
  width: 20%;
  margin: 1em auto;
  text-align: center;
}

button {
  font-size: 1.25em;
  border-radius: 5px;
  margin: 5%;
}

#start {
  border: 1px solid #19703E;
  border-bottom: 3px solid #19703E;
}
#start:hover {
  background-color: #2EFF71;
}

#pause {
  border: 1px solid #691F17;
  border-bottom: 3px solid #691F17;
}
#pause:hover {
  background-color: #FF4C3C;
}

.row {
  margin: 0px;
  font-size: 0;
}

.tile {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  border-radius: 15%;
  background-color: #ecf0f1;
}

/* Tile Colors */
.active {
  background-color: #e74c3c;
}
.red {
  background-color: #c0392b;
}
.blue {
  background-color: #3498db;
}
.orange {
  background-color: #d35400;
}
.yellow {
  background-color: #f1c40f;
}
.purple {
  background-color: #9b59b6;
}
.green {
  background-color: #27ae60;
}
.dark-blue {
  background-color: #2c3e50;
}

